
name: Infra Vending Machine

on:
  workflow_dispatch:
    inputs:
      bucket_name:
        description: 'S3 Bucket Name'
        required: false
      table_name:
        description: 'DynamoDB Table Name'
        required: false
      environment:
        description: 'Environment'
        required: true
        default: 'dev'

jobs:
  deploy-S3:
    if: 'github.event.inputs.bucket_name != \'\''
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: 'ap-south-1'
    - name: Terraform Init
      working-directory: terraform/S3_Module/
      run: |
        terraform init -backend-config="bucket=kratos-state-files" -backend-config="key=vending-machine/${{ github.event.inputs.bucket_name }}.tfstate" -backend-config="region=ap-south-1"
    - name: Terraform Apply
      working-directory: terraform/S3_Module/
      run: |
        terraform apply -auto-approve -var="bucket_name=${{ github.event.inputs.bucket_name }}"

  deploy-dynamodb:
    if: 'github.event.inputs.table_name != \'\''
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: 'ap-south-1'
    - name: Terraform Init
      working-directory: terraform/DynamoDB_Module/
      run: |
        terraform init -backend-config="bucket=kratos-state-files" -backend-config="key=vending-machine/${{ github.event.inputs.table_name }}.tfstate" -backend-config="region=ap-south-1"
    - name: Terraform Apply
      working-directory: terraform/DynamoDB_Module/
      run: |
        terraform apply -auto-approve -var="table_name=${{ github.event.inputs.table_name }}"
